.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:  linear-gradient(to bottom, rgba(161, 173, 180, 0.8), rgba(210, 217, 223, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3500;
}

.spinner {
  animation: rotate 2s linear infinite;
  width: 150px;
  height: 150px;
}

.spinner .path {
  stroke: #105e62;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

h1 {
  font-size: 1.5em;
  margin-top: 20px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
